{% extends "layout.html" %}

{% block body %}

<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>Your Blog Posts</h3></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myposts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">View all posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome, {{ users[session['user_id']] }}</h1><br>

    <p class="lead">All Friend Requests: </p>
    <ul class="list-group">
      {% for friend_id in pending_req %}
        <a href="{{ url_for('view_profile', user_id=friend_id) }}">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if users[friend_id]|length > 50: %}
              <span class="title">{{ users[friend_id][:50] }}...</span>
            {% else: %}
              <span class="title">{{ users[friend_id] }}</span>
            {% endif %}
            <a href="{{url_for('accept_friend',friend_id=friend_id)}}" class="badge badge-primary badge-pill">Accept Request</a>
          </li>
        </a>
      {% endfor %}
    </ul><br>

    <ul class="list-group">
      {% for friend_id in sent_req %}
        <a href="{{ url_for('view_profile', user_id=friend_id) }}">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if users[friend_id]|length > 50: %}
              <span class="title">{{ users[friend_id][:50] }}...</span>
            {% else: %}
              <span class="title">{{ users[friend_id] }}</span>
            {% endif %}
            <a href="#" class="badge badge-primary badge-pill">Sent Request</a>
          </li>
        </a>
      {% endfor %}
    </ul><br>

    <ul class="list-group">
      {% for friend_id in accepted_req %}
        <a href="{{ url_for('view_profile', user_id=friend_id) }}">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if users[friend_id]|length > 50: %}
              <span class="title">{{ users[friend_id][:50] }}...</span>
            {% else: %}
              <span class="title">{{ users[friend_id] }}</span>
            {% endif %}
            <a href="#" class="badge badge-primary badge-pill">Friends</a>
          </li>
        </a>
      {% endfor %}
    </ul><br>

</div>

<p><a href="{{ url_for('home') }}">Go back</a></p>

{% endblock %}
