{% extends "layout.html" %}

{% block body %}

<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>Your Blog Posts</h3></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myposts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">View all posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome back, {{ username }}</h1><br>

    <h2>Add a Post</h2>
    <form action="{{ url_for('add_post') }}" method="POST">
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Question:</span>
            </div>
            <textarea class="form-control" name="post" placeholder="Enter here..." maxlength="2000"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>

    <br>
    <p class="lead">Displaying Today's Blog Posts</p>
    <ul class="list-group">
      {% for post in user_posts %}
        <a href="{{ url_for('view_post', blog_id=post['blog_id']) }}">
          <li class="list-group-item">
            {% if post['post']|length > 50: %}
              <span class="title">{{ post['post'][:50] }}...</span>
            {% else: %}
              <span class="title">{{ post['post'] }}</span>
            {% endif %}
          </li>
        </a>
      {% endfor %}
    </ul>
</div>

{% endblock %}
