{% extends "layout.html" %}

{% block body %}
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>All Blog Posts</h3></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/posts">View all posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
    <p class="lead">Displaying All Blog Posts</p>
    {% for post in user_posts %}
      <a href="{{ url_for('view_post', blog_id=post['blog_id']) }}">
        <div class="card" style="height: 70px;">
          <div class="card-body">
            {% if post['post']|length > 50: %}
              <h5 class="title">{{ post['post'][:50] }}...</h5>
            {% else: %}
              <h5 class="title">{{ post['post'] }}</h5>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
</div>

{% endblock %}
